.video-grid {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: calc(100vw - 48px);
}

.video-container {
  position: relative;
}

.video-container h3 {
  margin-top: 32px;
  line-height: 130%;
  text-transform: uppercase;
}

.video-container h3 span {
  color: var(--purple);
  mix-blend-mode: color-dodge;
}

.video-inner {
  position: relative;
  background-color: var(--black);
  padding-top: 56.25%;
  overflow: hidden;
}

.video,
.thumbnail {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  pointer-events: none;
}

.headline {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  bottom: -32px;
  left: 0px;
}

.video-container img {
  mix-blend-mode:luminosity;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00ffff92;
  mix-blend-mode: color-dodge;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  transition: 12s ease;
}

.video-container:hover .overlay {
  opacity: 1;
}


@media (max-width: 767px) {
  .video-grid {
    gap: 2rem;
  }

  .headline {
    font-size: 1.1rem;
    text-align: center;
  }
  .overlay {
    opacity: 1;
  }
  .video-container {
    width: 100%!important;
    margin-left: auto!important;
  }
  .video-container h3 {
    line-height: 80%;
    margin-bottom: 32px;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: calc(100vw - 48px);
  margin: 24px auto;
}

