nav a {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: -0.88px;
}

nav a:hover {
    color: var(--purple);
    font-family: "Larken DEMO";
    font-size: 44px;
}

nav {
    width: 100%;
    position: absolute;
    left: 20%;
}

@media (max-width:768px) {
    nav a {
        font-size: 28px;
    }

nav a:hover {
    font-size: 24px;
}
}

@media (hover: none) and (pointer: coarse) {
    nav a:hover {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }

  .menu-overlay {
    position: absolute;
    right: 10px;
    top: 0px;
}