.description {
  width: calc(100% - 48px);
  max-width: 1440px;
  margin: 5rem auto;
}

.project-detail {
    font-family: "Founders Grotesk";
  }

  
  .project-detail .credits {
    margin-top: 3rem;
    font-family: "Founders Grotesk";
  }
  
  .project-detail .credits li {
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    font-family: "Founders Grotesk";
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }

  .project-detail .credits li span {
    color: var(--purple);
    mix-blend-mode: color-dodge;
    font-size: 2rem;
    font-family: 'Larken';font-weight: 600;
  }

  .project-detail {
    position: relative;
  }

  .title-container {
    height: 100%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-gallery {
    margin-top: 40px;
    padding-bottom: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    overflow-x: scroll;
  }
  
  .gallery-grid img {
    height: 500px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
    
  }
  
  @media (max-width:768px) {
    .project-detail .credits li {
      font-size: 1.6rem;
    }
    .project-detail .credits li span { 
      font-size: 1.5rem;
    }
  }
  
  
  