.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
  gap: 24px;
  width: 100vw;
  position: relative;
}

.form-field {
  display: flex;
  border-bottom: 4px solid white;
}

label {
  font-family: 'Larken DEMO', serif;
  font-size: 32px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--white);
}
  
  .contact-form input {
    background: white;
    border: none;
    padding-left: 1rem;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 0;
    color: white;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-form input {
    background: none;
    font-family: "Founders Grotesk";
    font-size: 36px;
    margin-top: 1px;
    font-weight: 600;
  }

  input:focus {
    outline: none;
  }
  
  .contact-form textarea {
    resize: none;
    height: 250px;
  }
  
  .contact-form button {
    background:  var(--purple);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 100px 100px 0 0;
    height: max-content;
    overflow: hidden;
    max-height: inherit;
    padding: 0;
  }

button.submit span {
  font-size: 32px;
    padding: 16px;
    letter-spacing: -0.64px;
    font-weight: 700;
    width: 100%;
}
  
  button.submit {
    display: flex;
    flex-direction: column;
  }

  .submit span {
    background-color: var(--purple);
    color: white;
    font-family: "Larken DEMO";
    text-transform: uppercase;
    z-index: 2;
    letter-spacing: -0.64px;
  }

img.starburst {
    margin: 1rem;
    margin-bottom: -35%;
    animation: rotate 12s linear infinite;
}

.status-message.success {
  color: var(--purple);
  font-size: 18px;
  font-family: 'Founders Grotesk';
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  bottom: -32px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width:768px) {
  .contact-form {
    padding: 0;
  }
  .input {
    width: calc(100% - 64px);
    margin: 0 auto;
    gap: 32px;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--purple) !important; /* or your desired text color */
}