@font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('./FoundersGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Condensed */
  @font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('./FoundersGroteskCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('./FoundersGroteskXCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('./FoundersGroteskXCond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  