@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/FoundersGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Condensed */
  @font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('/fonts/FoundersGroteskCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('/fonts/FoundersGroteskXCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('/fonts/FoundersGroteskXCond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  