/* ---------- FOUNDERS GROTESK FONT FACE ----------- */

@font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk';
    src: url('/fonts/Founders_Grotesk/FoundersGrotesk-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Condensed */
  @font-face {
    font-family: 'Founders Grotesk Condensed';
    src: url('/fonts/Founders_Grotesk/FoundersGroteskCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('/fonts/Founders_Grotesk/FoundersGroteskXCond-Lt.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Founders Grotesk ExtraCondensed';
    src: url('/fonts/Founders_Grotesk/FoundersGroteskXCond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

/* ---------- LARKEN FONT FACE ----------- */

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Larken DEMO";
  src: url('/fonts/Larken_DEMO/LarkenDEMO-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

  