@import "tailwindcss";

:root {
  --purple : #8D52FD;
  --red: #FB575C;
  --cyan : #00FFFF;
  --white : #FFFFFF;
  --black : #1D1D1D;

  --primary-gradient : linear-gradient(270deg, #FD575A 0%, #8D52FD 100%);
  --secondary-gradient : linear-gradient(270deg, #00FFFF 0%, #8D52FD 100%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--primary-gradient);
  background-size: cover;
  overflow-x: hidden;
  font-family: "Founders Grotesk";
}

h1,
h2,
h3,
h4,
p {
  color: var(--white);
  font-family: inherit;
}

h1 {
  font-size: 3.75rem;
}

h1 span {
  font-size: 3.25rem;
  font-family: "Larken Demo", serif;
}

h2 {
  font-size: 3.125rem;
}

h2 span {
  font-size: 2.75rem;
  font-family: "Larken Demo", serif;
}

h3 {
  font-size: 2.25rem;
}

h3 span {
  font-size: 2rem;
  font-family: "Larken Demo", serif;
}

p {
  font-size: 1.625rem;
}

span.controls {
  color: #FFF;
  font-family: "Founders Grotesk";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 32px;
}

a {
  color: var(--purple);
  text-decoration: inherit;
  font-family: "Founders Grotesk";
}

a {
  font-size: 50px;
}

@media (max-width:768px) {
  a {
    font-size: 32px;
  }
}

.page-title {
  font-family: "Founders Grotesk";
  font-size: 5rem!important;
  width: 100%;
  letter-spacing: -2px;
  font-weight: 600;
  line-height: normal;
}